In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
dataset_dir = os.path.join(os.path.dirname(os.path.dirname(os.path.abspath(''))), 'datasets')

In [53]:
llamados_v2= pd.read_excel(os.path.join(dataset_dir, 'xlsx/llamados_v2.xlsx'), parse_dates=['llamado_fecha_hora'])

In [8]:
llamados_v2.llamado_fecha_hora.dtype

dtype('<M8[ns]')

In [54]:
# fin de semana
llamados_v2['fin_de_semana'] = np.where(llamados_v2['llamado_fecha_hora'].dt.day_of_week.isin([5,6]), 1,0)
llamados_v2[['llamado_fecha_hora','fin_de_semana']]

       llamado_fecha_hora  fin_de_semana
0     2016-11-19 12:46:38              1
1     2016-11-19 13:46:24              1
2     2016-11-19 18:20:08              1
3     2016-11-20 00:05:55              1
4     2016-11-20 00:05:55              1
...                   ...            ...
19138 2021-07-31 17:10:00              1
19139 2021-07-31 21:20:00              1
19140 2021-07-31 19:00:00              1
19141 2021-07-31 20:30:00              1
19142 2021-07-31 20:30:00              1

[19143 rows x 2 columns]

In [55]:
# momento del día mañana, mediodía, tarde, noche, madrugada c la hora

def day_part(hour):
    if hour in [6,7,8,9,10,11]:
        return "mañana"
    elif hour in [12,13]:
        return "mediodía"
    elif hour in [14,15,16,17,18,19]:
        return "tarde"
    elif hour in [20,21,22,23,0]:
        return "noche"
    elif hour in [1,2,3,4]:
        return "madrugada"
   

llamados_v2['momento_dia'] = (llamados_v2['llamado_fecha_hora'].dt.hour).apply(day_part)

,llamado_fecha_hora,llamado_provincia,llamante_edad,llamante_genero,llamante_vinculo,caso_judicializado,hecho_lugar,victima_a_resguardo,victima_edad,victima_genero,...,ofv_uso_arma_blanca,ofv_uso_arma_fuego,ofv_enganio_seduccion,ofv_intento_matar,ofv_uso_animal_victimizar,ofv_grooming,ofv_otra_forma_violencia,ofv_no_sabe_no_contesta,fin_de_semana,momento_dia
0,2016-11-19 12:46:38,Misiones,30.0,Femenino,Hospital,NS/NC,Vivienda de la Víctima,SI,12.0,Femenino,...,NO,NO,NO,NO,NO,NO,NO,NO,1,mediodía
1,2016-11-19 13:46:24,CABA,NaN,Femenino,Madre,NS/NC,Vivienda de la Víctima,SI,11.0,Masculino,...,NO,NO,NO,NO,NO,NO,SI,NO,1,mediodía
2,2016-11-19 18:20:08,Tucumán,47.0,Femenino,Víctima,NS/NC,Vivienda de la Víctima,SI,47.0,Femenino,...,NO,NO,NO,NO,NO,NO,NO,NO,1,tarde
3,2016-11-20 00:05:55,Santa Fe,NaN,Masculino,Vecina/o,NS/NC,Vivienda de la Víctima,NO,11.0,Femenino,...,NO,NO,NO,NO,NO,NO,NO,NO,1,noche
4,2016-11-20 00:05:55,Santa Fe,NaN,Masculino,Vecina/o,NS/NC,Vivienda de la Víctima,NO,12.0,Femenino,...,NO,NO,NO,NO,NO,NO,NO,NO,1,noche

In [51]:
verano_empieza = pd.to_datetime("12-21", format="%m-%d").dayofyear
otoño_empieza = pd.to_datetime("03-21", format="%m-%d").dayofyear
invierno_empieza = pd.to_datetime("06-21", format="%m-%d").dayofyear
primavera_empieza = pd.to_datetime("09-21", format="%m-%d").dayofyear

for index, date in llamados_v2["llamado_fecha_hora"].items():
    if (date.dayofyear >= verano_empieza) or (date.dayofyear < otoño_empieza):
        llamados_v2.at[index, "estacion_del_año"] = "Verano"
    elif (date.dayofyear >= otoño_empieza) and (date.dayofyear < invierno_empieza):
        llamados_v2.at[index, "estacion_del_año"] = "Otoño"
    elif (date.dayofyear >= invierno_empieza) and (date.dayofyear < primavera_empieza):
        llamados_v2.at[index, "estacion_del_año"] = "Invierno"
    else:
        llamados_v2.at[index, "estacion_del_año"] = "Primavera"